/* .header{
    background-image: url(./images/back\ \(2\).png);
    height: 800px;
    background-repeat: no-repeat;
    background-size: auto;
    
} */
.navbar a img{
   height: 6rem;
   width: 7.8rem;
}
.navbar a{
    font-weight: 600;
    font-size:1.36rem;
}
.curv{

    border-radius: 30px 6px;
    background-color: rgb(39, 182, 182);
    border: none;
      
}
.header{
margin-top: 2.5rem;
}
